<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Travel Reservation Service</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
    <h1>Admin Home</h1>
    <form method="POST">
        <button class = "but" name = "but" value = "sched" type= "submit">Schedule Flight</button>

        <button class = "but" name = "but" value = "removeF" type= "submit">Remove Flight</button>

        <button class = "but" name = "but" value = "processD" type= "submit">Process Date</button>

        <button class = "but" name = "but" value = "viewAirports" type= "submit">View Airports</button>

        <button class = "but" name = "but" value = "viewAirlines" type= "submit">View Airlines</button>

        <button class = "but" name = "but" value = "viewC" type= "submit">View Customers</button>

        <button class = "but" name = "but" value = "viewO" type= "submit">View Owners</button>

        <button class = "but" name = "but" value = "logout" type= "submit">Logout</button>


</form>

</body>