<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Travel Reservation Service</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
 </head>
 <body>
 	<h1>Customer Cancel Property</h1>
 	<form method="POST" action="/cancelProperty">
    <table class="center">
                <!-- <thead> -->
                    <tr style="background-color: lightgray">
                        <th>Reservation Date</th>
                        <th>Property Name</th>
                        <th>Owner Email</th>
                        <th>Address</th>
                    </tr>
                <!-- </thead> -->
                <!-- <tbody> -->
                    {% for row in cancelPropertyDetails %}
                    <tr id='{{row}}'>
                        <td> {{row[0]}} </td>
                        <td> {{row[1]}} </td>
                        <td> {{row[2]}} </td>
                        <td> {{row[3]}}</td>
                        <td> <input type='radio' name='radio_identifier' value='{{row}}' />
                        </td>
                    </tr>
                    {% endfor %}
                <!-- </tbody> -->
            </table>
        <input type="hidden" name="btn_identifier" value="cancelProperty" />
        <input type='submit'>
    </form>
</body>
</html>