<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Travel Reservation Service</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
    <h1>Customer Home</h1>
    <form method="POST">
        <button class = "but" name = "but" value = "1" type= "submit">Book Flight</button>

        <button class = "but" name = "but" value = "2" type= "submit">Cancel Flights</button>

        <button class = "but" name = "but" value = "3" type= "submit">View Properties</button>

        <button class = "but" name = "but" value = "4" type= "submit">Reserve Property</button>

        <button class = "but" name = "but" value = "5" type= "submit">Cancel Reservation</button>

        <button class = "but" name = "but" value = "6" type= "submit">Review Property</button>

        <button class = "but" name = "but" value = "7" type= "submit">View Individual Reservations</button>

        <button class = "but" name = "but" value = "8" type= "submit">Rate Owner</button>


        <button class = "but" name = "but" value = "logout" type= "submit">Logout</button>


</form>

</body>