<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Travel Reservation Service</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
  <h1>Welcome to the Travel Reservation Service</h1>
<form class= "table" method="POST" action="">
  <h3>Login</h3>
  <div class = "fields">
    Name 
    <input type="text" name="name" />
  </div class = "fields">
  <div class = "fields">
    Email <input type="email" name="email" />
  </div>
    <input type="submit">
  </form>

  <div>
    <h4>Not signed up?</h4>
    <button type= "button">Register</button>
  </div>
</body>