<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Reservation Service</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <h1>Owner Rate Customer</h1>

    <form method="POST" action="">
        <table class = "center">
            <thead>
                <tr style="background-color: lightgray">
                    <th>Reservation Date</th>
                    <th>Customer Email</th>
                    <th>Property Name</th>
                    <th>Address</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for row in ratingDetails %}
                <tr>
                    <td> {{row[0]}} </td>
                    <td> {{row[1]}} </td>
                    <td> {{row[2]}} </td>
                    <td> {{row[3]}} </td>
                    <td> <input type='text' name='txt_identifier' value={{row[4]}}></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="hidden" class = "but" name="btn_identifier" value="submit" />
        <button class = "but" name = "but" value = "submit" type= "submit">Submit</button>
    </form>

    <form method="POST" action="">
        <input type="hidden" class = "but" name="btn_identifier" value="back" />
        <button class = "but" name = "but" value = "cancel" type= "submit">Back</button>
    </form>
</body>