<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Travel Reservation Service</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>
<body>
    <h1>Owner Home</h1>
    <form method="POST">
        <button class = "but" name = "but" value = "add" type= "submit">Add Property</button>

        <button class = "but" name = "but" value = "remove" type= "submit">Remove Property</button>
        <button class = "but" name = "but" value = "rate" type= "submit">Rate Customer</button>

        <button class = "but" name = "but" value = "delete" type= "submit">Delete Account</button>



        <button class = "but" name = "but" value = "logout" type= "submit">Logout</button>


</form>

</body>