<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Travel Reservation Service</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
    <h1>REGISTER CUSTOMER</h1>
    <form method="POST">
        <label for="fname">First name: </label>
        <input required type="text" id="fname" name="fname"><br>

        <label for="lname">Last name: </label>
        <input required type="text" id="lname" name="lname"><br>

        <label for="email">Email: </label>
        <input required type="email" id="email" name="email"><br>

        <label for="password">Password: </label>
        <input required type="text" id="password" name="password"><br>

        <label for="confirm">Confirm Password: </label>
        <input required type="text" id="confirm" name="confirm"><br>

        <label for="phone">Phone Number: </label>
        <input required type="number" id="phone" name="phone"><br>

        <label for="card">Card Number: </label>
        <input required type="number" id="card" name="card"><br>

        <label for="cvv">CVV: </label>
        <input required type="number" id="cvv" name="cvv"><br>

        <label for="exp">Exp: </label>
        <input required type="date" id="exp" name="exp"><br>

        <br>

        <form method="POST">
            <button name="action" value="register" type="submit">Submit</button>
            <button name="action" value="back" type="submit">Back to Home</button>
        </form>

    </form>

</body>