<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Travel Reservation Service</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
    <h1>View Individual Property Reservations</h1>
    <div class="table" style="border: black; border-width:1px; border-style: solid;">
        <h3>Sort By:</h3>

        <form method="POST">
            <div>
            <label>Owner Email:</label>
            <input name="text">
        </div><div>
            <label>Property Name:</label>
            <input name="text2">-
        </div>
            <input type="submit">
            <input type="hidden" name="btn_identifier" value="ownEmail" />

        </form>

        <text>
            <div>
                <h4>Filtering by...</h4>
            </div>
            <div>Owner Email: {{text1}}</div>
            <div>Property Name: {{text2}}</div>
        </text>
      

     

    </div>
    <div class="data">
        <table class="center">
            <thead>
                <tr style="background-color: lightgray">
                    <th>Property Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Customer Email</th>
                    <th>Customer Phone Number</th>
                    <th>Total Booking Cost</th>
                    <th>Rating</th>
                    <th>Review</th>





                </tr>
            </thead>
            <tbody>
                {% for row in viewPropDetails %}
                <tr>
                    <td> {{row[0]}} </td>
                    <td> {{row[1]}} </td>
                    <td> {{row[2]}} </td>
                    <td> {{row[3]}} </td>
                    <td> {{row[4]}} </td>
                    <td> {{row[5]}} </td>
                    <td> {{row[6]}} </td>

                    <td> {{row[7]}} </td>



                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <form method="POST">
            <input type="hidden" class="but" name="btn_identifier" value="back" />
            <button class="but" name="but" value="back" type="submit">Back to Home</button>
        </form>
    </div>

</body>