<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Total Flights</th>
        <th>Minimum Flight Cost</th>
     </tr>
    </thead>
    <tbody>

        +

        {% for row in viewOwnersDetails %}
        <tr>
            <td> {{row[0]}} </td>
            <td> {{row[1]}} </td>
            <td> {{row[2]}} </td>
            <td> {{row[3]}} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <label for="categorySelect">Show: </label>
    <select class="custom-select" id="categorySelect" onchange="onCategoryChanged()">
    <option selected value="all-letters">All Letters</option>
    <option value="only-consonants">Only Consonants</option>
    <option value="only-vowels">Only Vowels</option>
    </select>
</div>