<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Travel Reservation Service</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
    <h1>View ALL Flights</h1>
    <!-- <div class="table" style="border: black; border-width:1px; border-style: solid;">
        <h3>Sort By:</h3>

        <form method="POST">Available Seats (less than) :
            <input name="text" type = "number">
            <input type="submit">
            <input type="hidden" name="btn_identifier" value="sortFour" />

        </form>

        <form method="POST">
            <input class = "reset" type="hidden" name="btn_identifier" value="sortEight" />
            <input class = "reset" type="submit" value="RESET SEAT FILTER">
        </form>
       

        <form method="POST">
            <input type="hidden" name="btn_identifier" value="sortOne" />
            <input type="submit" value="ID">
        </form>

        <form method="POST">
            <input type="hidden" name="btn_identifier" value="sortTwo" />
            <input type="submit" value="Airline">
        </form>

        <form method="POST">
            <input type="hidden" name="btn_identifier" value="sortThree" />
            <input type="submit" value="Destination" />
        </form>

        <form method="POST">
            <input type="hidden" name="btn_identifier" value="sortFive" />
            <input type="submit" value="Date" />
        </form>

        <form method="POST">
            <input type="hidden" name="btn_identifier" value="sortSix" />
            <input type="submit" value="Cost per Seat" />
        </form>

        <form method="POST">
            <input type="hidden" name="btn_identifier" value="sortSev" />
            <input type="submit" value="Total Spent" />
        </form>

     

    </div> -->
    <div class="data">
        <table class="center">
            <thead>
                <tr style="background-color: lightgray">
                    <th>Flight #</th>
                    <th>Airline</th>
                    <th>From Airport</th>
                    <th>To Airport</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Date</th>
                    <th>Cost</th>
                    <th>Capacity</th>





                </tr>
            </thead>
            <tbody>
                {% for row in viewFlightDetails %}
                <tr>
                    <td> {{row[0]}} </td>
                    <td> {{row[2]}} </td>
                    <td> {{row[3]}} </td>
                    <td> {{row[1]}} </td>
                    <td> {{row[5]}} </td>
                    <td> {{row[4]}} </td>
                    <td> {{row[6]}} </td>
                    <td> {{row[7]}} </td>
                    <td> {{row[8]}} </td>


                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <form method="POST">
            <input type="hidden" class="but" name="btn_identifier" value="back" />
            <button class="but" name="but" value="back" type="submit">Back</button>
        </form>
    </div>

</body>