body {
    font-family: "Open Sans";
    /* margin: 0; */
    /* padding-bottom: 10px; */
    /* margin-bottom: 2em; */
    text-align: center;

}

#main {
    /* margin: 20px; */
    /* padding-bottom: 10px; */
}
.table, th, td, thead, tbody, tr {
    border: 1px solid black;
    padding: 0.5em 0.5em 0.5em 0.5em;
}


.table {
    /* padding-bottom: 1em; */
    /* padding-bottom: 2em; */
    /* padding-top: 1em; */
    width: 50%;
    transform: translateX(50%);
    left: 50%;    
    margin-top: 2em;

    

}

.fields {
    margin-bottom: 0.5em;
    /* margin-top: 1em; */
}
.center {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;

}

.data {
    margin-top: 2em;

}
.but {
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 2em;
}

.reset {
    font-weight: bold;
    border: 1px solid black;
}